arf-env/*
.venv/*
*.pyc*
src/agent-rag-streamlit/chroma_db/*
src/agent-rag-streamlit/tests/src/agent-rag-streamlit/chroma_db/*
src/agent-rag-streamlit/models/*
*agentic-reasoning-framework/src/models/*
src/models/*
src/agent-rag-streamlit/run_individual_components/models/*

src/agent-rag-streamlit/data*
src/distilled-agentrf/chroma_db/chroma.sqlite3

src/data/toy_set/vector_store*
src/data/toy_set/vector_store/chroma.sqlite3
src/data/toy_set/vector_store/

models*
models/*