arf-env*
arf-env/*
notebooks/.ipynb_checkpoints/*
*.pdf*
notebooks/models/*
notebooks/models/.locks/models--sentence-transformers--all-MiniLM-L6-v2/53aa51172d142c89d9012cce15ae4d6cc0ca6895895114379cacb4fab128d9db.lock

arf-env/
notebooks/models*
*.pdf*